<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="ccsp"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            name="CCSPSpecification Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.validate">
         <activeWhen>
            <reference
                    definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
            </reference>
         </activeWhen>
      	</handler>
      	<!-- copy qualified name -->
        <handler
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
            <activeWhen>
				<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened" />
            </activeWhen>
        </handler>
        <handler
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
            commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
            <activeWhen>
            	<and>
            		<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.XtextEditor.opened" />
	                <iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.cmg.tapas.xtext.ccsp.CCSPSpecification" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
        <definition id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.XtextEditor.opened">
            <and>
                <reference definitionId="isXtextEditorActive"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.cmg.tapas.xtext.ccsp.CCSPSpecification" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            name="CCSPSpecification">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
        </page>
        <page
            category="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
        </page>
        <page
            category="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.templates"
            name="Templates">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            name="CCSPSpecification">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"
            label="CCSPSpecification"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.validate"
            name="Validate">
      </command>
      <!-- copy qualified name -->
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
      <command
            id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
            categoryId="org.eclipse.ui.category.edit"
            description="Copy the qualified name for the selected element"
            name="Copy Qualified Name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
         <!-- copy qualified name -->
         <menuContribution locationURI="popup:#TextEditorContext?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName" 
         		style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="menu:edit?after=copy">
         	<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
            	style="push" tooltip="Copy Qualified Name">
            	<visibleWhen checkEnabled="false">
                	<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened" />
            	</visibleWhen>
         	</command>  
         </menuContribution>
         <menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName" 
				style="push" tooltip="Copy Qualified Name">
         		<visibleWhen checkEnabled="false">
	            	<and>
	            		<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="ccsp">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="ccsp">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.cmg.tapas.xtext.ccsp.CCSPSpecification -->
    <extension
            id="ccspspecification.check.fast"
            name="CCSPSpecification Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="ccspspecification.check.normal"
            name="CCSPSpecification Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="ccspspecification.check.expensive"
            name="CCSPSpecification Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.compiler.preferencePage"
            name="Compiler">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.compiler.propertyPage"
            name="Compiler">
            <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>

	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.cmg.tapas.xtext.ccsp.CCSPSpecification -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.cmg.tapas.xtext.ccsp.ui.ccspspecification.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.cmg.tapas.xtext.ccsp.ui.ccspspecification.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.cmg.tapas.xtext.ccsp.ui.ccspspecification.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.cmg.tapas.newprojectcategory"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.cmg.tapas.xtext.ccsp.ui.wizard.CCSPSpecificationNewProjectWizard"
            finalPerspective="org.cmg.tapas.perspective.TAPAsPerspective"
            id="org.cmg.tapas.xtext.ccsp.ui.wizard.CCSPSpecificationNewProjectWizard"
            name="CCSP Specification Project"
            project="true">
      </wizard>
   </extension>
   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.cmg.tapas.xtext.ccsp.CCSPSpecification.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
	    <page
	        category="org.cmg.tapas.xtext.ccsp.CCSPSpecification"
	        class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
	        id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.refactoring"
	        name="Refactoring">
	        <keywordReference id="org.cmg.tapas.xtext.ccsp.ui.keyword_CCSPSpecification"/>
	    </page>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.compare.contentViewers"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="ccsp">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.compare.contentMergeViewers"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="ccsp" label="CCSPSpecification Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.cmg.tapas.xtext.ccsp.CCSPSpecification.editors.documentProviders"
            class="org.cmg.tapas.xtext.ccsp.ui.CCSPSpecificationExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="ccsp">
    </provider>
  </extension>
  
     <extension
         point="org.cmg.tapas.TAPAsElementViewProvider">
      <elementviewprovider
            class="org.cmg.tapas.ccsp.extensions.CCSPElementViewProvider"
            extension="ccsp">
      </elementviewprovider>
   </extension>
   <extension
         point="org.cmg.tapas.TAPAsLTSBuilderProvider">
      <ltsbuilderprovider
            class="org.cmg.tapas.ccsp.extensions.CCSPLTSBuilderProvider"
            extension="ccsp">
      </ltsbuilderprovider>
   </extension>
   <extension
         point="org.cmg.tapas.TAPAsEquivalenceCheckerProvider">
      <ecprovider
            class="org.cmg.tapas.ccsp.extensions.CCSPEquivalenceCheckerProvider"
            extension="ccsp">
      </ecprovider>
   </extension>
   <extension
         point="org.cmg.tapas.TAPAsModelCheckerProvider">
      <modelchecker
            class="org.cmg.tapas.ccsp.extensions.CCSPModelCheckerProvider"
            extension="ccsp">
      </modelchecker>
   </extension>

</plugin>
