<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.cmg.tapas.TAPAsElementViewProvider">
      <elementviewprovider
            class="org.cmg.tapas.rm.extensions.TAPAsElementViewProvider"
            extension="org.cmg.tapas.rm.extensions.elementviewprovider">
      </elementviewprovider>
   </extension>

</plugin>
